html,
body,
#root {
  height: 100%;
}
body {
  font-family: Roboto;
  background-color: #f5f5f5;
}
ul,
ol {
  list-style: none;
  padding: 0;
}
ul {
  height: 250px;
}
li {
  text-align: left;
}
label {
  width: 100%;
  display: block;
  border: 1px solid transparent;
}
label:hover {
  cursor: pointer;
  color: #000;
  font-weight: 500;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95%;

  .paper-card {
    padding: 20px;
    width: 320px;
  }
}
.quiz {
  h2,
  h3 {
    text-align: center;
  }
  .main-btn {
    text-align: center;
    width: 100%;
  }
  .question {
    line-height: 1.4;
  }
}
.main-form {
  margin: 10px 0;
}
.game-over {
  text-align: center;

  .main-btn {
    margin-bottom: 5px;
  }
}
.disabled {
  pointer-events: none;
  opacity: 0.6;
}
.none {
  display: none;
}
.show {
  display: list-item;
}
.correct {
  color: #4caf50;
}
.wrong {
  color: #f50057;
}
